main#issues
  & .card
    text-align: center
    & .title,
    & .date
      margin: 0 auto
      @media (min-width: 650px)
        width: 209px
    & .title
      background-color: var(--main)
      color: var(--white)
    & .date
      background-color: var(--main-light)
      color: var(--white)
