main#contact,
main#about,
main#advertising
  padding: 10px
  margin-top: 40px
  display: grid
  grid-template-columns: 36% auto
  grid-template-rows: 90px
  & h1
    grid-column: 1 / -1

#subscribe-form
  width: 100%
  height: 2400px
  border: none
  @media (min-width: 657px)
    padding: 50px
