//fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Zilla+Slab')
//icons
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

//Linking to palette files THESE MUST HAVE THEIR OWN `:root` SELECTOR
@import './palettes/_pal02.sss'

:root
  --header: 'Josefin Sans', sans-serif // Editorial wants this replaced with Mrs Eaves
  --body: 'Zilla Slab', serif
