//Pallete 2
//Cloud Burst + Petite Orchid
:root
  --main: #1F3761
  --main-light: #2F4C75
  --main-dark: #132954

  --grey: #1F3761 //#47443C //#132954 //#BFD1D1
  --white: #F4F6F4

  --dark: #47443C
  --brown: #DE8F8E
  --purple: #DADDA8
