//Pallete 3
//Classic Access
:root
  --main: #40ABD4
  --main-light: #B7D7E6 //#5FC6EB
  --main-dark: #3499C8

  --grey: #BFD1D1
  --white: #FCF8E9

  --dark: #F1AA6D //#47443C
  --brown: #f3831E
  --purple: #DADDA8
